body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #0055a5;
}

#question-container {
    margin: 20px;
    padding: 10px;
}

#question-image {
    width: 300px; /* 画像の大きさを制御 */
    height: auto;
}

.option {
    background-color: #00aaff;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.option:hover {
    background-color: #0088cc;
}

#timer {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}
